SERVICE_URL=https://end.mapilio.com
FORGOT_URL=https://mapilio.com/reset-password
IMAGE_API=https://cdn.mapilio.com/im
CDN_URL=https://cdn.mapilio.com
SEARCH_API=https://photon.komoot.io
MAPBOX_TILESET_URL=mapbox://your_tileset_url
MAPBOX_ACCESS_TOKEN="pk.your_mapbox_public_token"
MAPBOX_TILESET_ID=mapilio_point_v1
GOOGLE_REQUEST_URL="https://www.googleapis.com/oauth2/v3/userinfo?access_token="
GOOGLE_IOS_CLIENT_ID="563319300844-1ui5kbrs3h68ldk5bc5jr94r9oev220m.apps.googleusercontent.com"
GOOGLE_ANDROID_CLIENT_ID="563319300844-27h266rqlr510tte0tbhfqu3c0l3cbjp.apps.googleusercontent.com"
FACEBOOK_APP_ID=254795350007625
FACEBOOK_REQUEST_URL="https://graph.facebook.com/me?fields=id,name,email&access_token="
SENTRY_DSN=https://your_key@sentry.io/your_project_id
SENTRY_DSN_IOS=https://your_key@sentry.io/your_project_id
ONESIGNAL_APP_ID=your_onesignal_app_id
MAPBOX_POINT_URL=mapbox://your_point_url
MAPBOX_POINT_ID=mapilio_point_new
MAPBOX_ROAD_URL=mapbox://your_road_url
MAPBOX_ROAD_ID=mapilio_road_new
AUTH_CLIENT_ID=9
AUTH_CLIENT_SECRET=your_client_secret
